/* CSS extracted from horror.html */
.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.btn-cart::after {
  content: attr(data-quantity);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}
.icon-cart {
  width: 24.38px;
  height: 30.52px;
  transition: .2s linear;
}
.icon-cart path {
  fill: rgb(240, 8, 8);
  transition: .2s linear;
}
.btn-cart:hover > .icon-cart {
  transform: scale(1.2);
}
.btn-cart:hover > .icon-cart path {
  fill: rgb(186, 34, 233);
}
.btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}
.quantity {
  display: none;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.slider {
  width: 750px;
  max-width: 100vw;
}
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
}
.slider .list {
  display: flex;
  width: fit-content;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 20s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1) - 20s) !important;
}
.slider .list .item .card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1 * var(--quantity));
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
} 